
<div>
    <h1>Sistema chat Websockets</h1>

    <input type="text" id="chat" name="chat" placeholder="Ingresar mensaje" style="width: 300px;">
    <br>
    <button onclick="sendMessage()">Enviar</button>

</div>


<script src="/socket.io/socket.io.js"></script>

<script>
    const socketCLient = io();
    const chat = document.getElementById('chat');

    socketCLient.on('newMessageConfirmation', data => {
        console.log(data);
}) 

    const sendMessage = () => {
        if (chat.value !== ''){
            socketCLient.emit('newMessage', chat.value);
            console.log('mensaje enviado')
        }
    }
</script>